.property-card div {
    font-family: Arial, sans-serif;
    font-size: 40px;
    color: red;
}
.property-card{
    font-family: Arial,  sans-serif;
    font-size: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.property-card-images{
    width:20%;
    height:auto;
}
.property-card div {
    text-align: center;
    font-size: 16px;
}